<h2>New Friend</h2>
<%= form_for(@friend) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  <%= f.submit %>
<% end %>
